@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

/* ======================== CSS Rule #1 */
html {
  background-color: rgb(131, 161, 119);
  padding-left: 20px;
}

/* ======================== CSS Rule #2 */
h1 {
  font-family: "Poetsen One", sans-serif;
}
button{
  background-color: rgb(168, 113, 31);
}

img{
  border: 6px solid rgba(238, 195, 6, 0.733)
}
